
#login-screen {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;

}

#login-screen input, #login-screen button {
    margin: 10px 0; 
    padding: 8px; 
    font-size: 16px;
    width: 100%; 
}

#login-screen .btn-primary {
    background-color: #4CAF50; 
    border-color: #45a049; 
}


#login-screen .btn-primary:focus {
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5); 
    outline: none;
}

#login-screen input::placeholder {
    color: #bbb; 
    font-style: italic; 
}

#navigation {
    background-color: #ffffff;
    border-bottom: 2px solid #e3e3e3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand strong {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    color: #333;
}

.logo-rounded {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

#buttonNav {
    color: #ffffff;
    background-color: #007bff;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#buttonNav:hover {
    background-color: #0056b3;
    color: #ffffff;
}

#butClose {
    color: #ffffff;
    background-color: #dc3545;
    border: none;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#butClose:hover {
    background-color: #c82333;
    color: #ffffff;
}

.app-body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    margin: 0;   
    background: #87CEEB; 
    font-family: Arial, sans-serif; 
}
.logTitle{
    font-size: 24px; 
    font-weight: bold; 
    color: #333; 
    text-align: center; 
}

#title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#perma {
    background-color: #ff5e57;
    border-color: #ff5e57;
    color: white;
    transition: all 0.3s ease;
}

#perma:hover {
    background-color: #ff3b30;
    border-color: #ff3b30;
}

#info {
    background-color: #8a2be2;
    border-color: #8a2be2;
    color: white;
    transition: all 0.3s ease;
}

#info:hover {
    background-color: #6a1eb1;
    border-color: #6a1eb1;
}

#fav {
    background-color: #f7ca18;
    border-color: #f7ca18;
    color: white;
    transition: all 0.3s ease;
}

#fav:hover {
    background-color: #d4ac0d;
    border-color: #d4ac0d;
}

#chat {
    background-color: #34a853;
    border-color: #34a853;
    color: white;
    transition: all 0.3s ease;
}

#chat:hover {
    background-color: #2e7d3d;
    border-color: #2e7d3d;
}

.list-group-item:hover {
    background: #f1f1f1;
    transition: background 0.3s ease;
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#usuaris {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.message-bubble {
    max-width: 100%;
    word-wrap: break-word; /* Ensures long words wrap to the next line */
    overflow-wrap: break-word; /* Compatibility for breaking long words */
    max-width: 500px;
}
  